<section class="history-container">
  <h4>{{ mode === 'global' ? 'Recent Games' : 'Match History' }}</h4>

  @if (history$ | async; as games) {
  @if (games.length > 0) {
  <ol class="history-list">
    @for (game of games; track historyTrack($index, game)) {
    <li class="history-item">
      <div class="players">
        <span 
          class="player-name clickable"
          [class.winner]="game.winner === 'PLAYER_ONE'"
          [class.loser]="game.winner === 'PLAYER_TWO'"
          [class.draw]="!game.winner"
          (click)="navigateToProfile(game.playerOneId)">
          {{ game.playerOneName }}
        </span>

        <span class="vs">vs</span>

        <span 
          class="player-name clickable"
          [class.winner]="game.winner === 'PLAYER_TWO'"
          [class.loser]="game.winner === 'PLAYER_ONE'"
          [class.draw]="!game.winner"
          (click)="navigateToProfile(game.playerTwoId)">
          {{ game.playerTwoName }}
        </span>
      </div>

      <span class="date">{{ game.finishedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
    </li>
    }
  </ol>
  } @else {
  <p class="no-games">No games found.</p>
  }
  } @else {
  <p>Loading history...</p>
  }
</section>