<div class="admin-container">
  <h2>Administration</h2>

  <div class="admin-grid">
    <div class="admin-card">
      <h3>Manage Users</h3>
      <p>Create, edit or delete users.</p>

      <a [routerLink]="['/admin-users']" class="btn btn-primary"> Manage users </a>
    </div>

    <div class="admin-card">
      <h3>Manage Skins</h3>
      <p>Create, edit or delete skins.</p>

      <a [routerLink]="['/admin-skins']" class="btn btn-primary"> Manage skins </a>
    </div>

    <div class="admin-card">
      <h3>Manage Lootboxes</h3>
      <p>Create, edit or delete lootbox types.</p>

      <a [routerLink]="['/admin-lootboxes']" class="btn btn-primary"> Manage lootboxes </a>
    </div>

    <div class="admin-card">
      <h3>Manage GIFs</h3>
      <p>Create, edit or delete GIF reactions.</p>

      <a [routerLink]="['/admin-gifs']" class="btn btn-primary"> Manage GIFs </a>
    </div>
  </div>
</div>
